:root{
    background-color: #131313;
}

.header{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://global-uploads.webflow.com/5f5a53e153805db840dae2db/6073fbc8ece768495cc698ca_programador-senior.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vw;
    width: 100vw;
}

.contenedor{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    top: 30vh;
    color: white;
    gap:10vw;
}

.texto2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto{
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    border-radius: 9999rem;
    border: 5px solid #c8417a;
}

.titulacion{
    color: #c8417a;
    width: 30vw;
    font-size: 1.5vw;
}

.texto{
    position: relative;
    top: 1vw;
    margin-right: 5vw;
    margin-left: 5vw;
}

.texto h1{
    color: #c8417a;
    font-size: 3vw;
    position: relative;
    top: 2vw;
    text-shadow: 5px 5px black;
}

.rango{
    color: #c8417a;
    font-size: 1vw;
}

.presentacion{
    width: auto;
    width: 40vw;
    font-size: 0.9vw;
}

.contenedor1{
    width: 100vw;
    position: relative;
    bottom: 10vw;
    background-color: #131313;
    height: auto;
}

.proyectosimg{
    height: auto;
    width: 50vw;
    padding: 1vw;
}

.flechas{
    display: flex;
    gap: 65vw;
    justify-content: center;
    position: relative;
    top: 19vw;
}

.flechitas1{
    transform: rotate(180deg);
    height: 7vw;
    background-color: #c8417a;
    border-radius: 9999rem;
}

.flechita2{
    height: 7vw;
    background-color: #c8417a;
    border-radius: 9999rem;
}

.desaparece{
    position: absolute;
    display: flex;
    text-align: center;
    left: 43vw;
    top: 26vw;
}

.tituloide{
    position: relative;
    top: 8vw;
    color: white;
    font-size: 4vw;
}

.textoide{
    position: relative;
    top: 8vw;
    color: white;
    font-size: 1vw;
}

.h1desaparece{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2vw;
}

a{
    text-decoration: none;
}

.contenedor2{
    background-color: black;
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.cards{
    display: flex;
    flex-direction: column;
}

.cards1{
    display: flex;
}

.cards2{
    display: flex;
    justify-content: center;
}

.contenedor3{
    color: white;
    margin-bottom: 5vw;
    width: 100vw;
}

.contacto{
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.contacto h1{
    font-size: 2vw ;
}

.contacto p{
    font-size: 1vw ;
}

.contacto img{
    height: 7vw;
    margin-top: 2vw;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
}

.contacto img:Hover{
    transform: scale(1.5);
}

@media screen and (max-width: 1450px) {
    .foto{
        position: relative;
        bottom: 7vw;
    }
    .titulacion{
        position: relative;
        bottom: 7vw;
    }
    .presentacion{
        position: relative;
        bottom: 7vw;
    }
    .rango{
        position: relative;
        bottom: 7vw;
    }
    .texto h1{
        position: relative;
        top: -6vw;
    }
}

@media screen and (max-width: 950px) {
    .foto{
        position: relative;
        bottom: 14vw;
    }
    .titulacion{
        position: relative;
        bottom: 14vw;
    }
    .presentacion{
        position: relative;
        bottom: 14vw;
    }
    .rango{
        position: relative;
        bottom: 14vw;
    }
    .texto h1{
        position: relative;
        top: -12vw;
    }
    
}

@media screen and (max-width: 700px) {
    .foto{
        position: relative;
        bottom: 20vw;
    }
    .titulacion{
        position: relative;
        bottom: 20vw;
    }
    .presentacion{
        position: relative;
        bottom: 20vw;
    }
    .rango{
        position: relative;
        bottom: 20vw;
    }
    .texto h1{
        position: relative;
        top: -19vw;
    }
    
}

@media screen and (max-width: 600px) {
    .foto{
        position: relative;
        bottom: 30vw;
        left: 0vw;
        z-index: 10;
    }
    .titulacion{
        position: relative;
        bottom: 30vw;
        z-index: 10;
    }
    .presentacion{
        position: relative;
        bottom: 30vw;
        z-index: 10;
        width: 25vw;
    }
    .rango{
        position: relative;
        bottom: 30vw;
        z-index: 10;
    }
    .texto h1{
        position: relative;
        top: -28vw;
        z-index: 10;
    }
    .header{
        height: 60vw;
    }
}

@media screen and (max-width: 500px) {
    .foto{
        position: relative;
        bottom: 30vw;
        left: 0vw;
        z-index: 10;
        height: 14vw;
        width: 14vw;
        border: 1px solid #c8417a;
    }
    .titulacion{
        position: relative;
        bottom: 30vw;
        z-index: 10;
    }
    .presentacion{
        position: relative;
        bottom: 37vw;

        width: 25vw;
    }
    .rango{
        position: relative;
        bottom: 37vw;

    }
    .texto h1{
        position: relative;
        top: -35vw;

    }
    .header{
        height: 60vw;
    }
}
@media screen and (max-width: 500px) {
    .foto{
        position: relative;
        bottom: 33vw;
        left: 0vw;
        z-index: 10;
        height: 14vw;
        width: 14vw;
        border: 1px solid #c8417a;
    }
    .titulacion{
        position: relative;
        bottom: 33vw;
        z-index: 10;
    }
}

@media screen and (max-width: 375px) {
    .foto{
        position: relative;
        bottom: 29vw;
        left: 0vw;
        z-index: 10;
        height: 14vw;
        width: 14vw;
        border: 1px solid #c8417a;
    }
    .titulacion{
        position: relative;
        bottom: 29vw;
        z-index: 10;
    }
    .presentacion{
        position: relative;
        bottom: 32vw;
        z-index: 10;
        width: 40vw;
    }
    .rango{
        position: relative;
        bottom: 32vw;
        z-index: 10;
    }
    .texto h1{
        position: relative;
        top: -30vw;
    }
    .header{
        height: 100vw;
    }
}

@media screen and (max-width: 375px) {
    .foto{
        position: relative;
        bottom: 40vw;
        left: 0vw;
        z-index: 10;
        height: 14vw;
        width: 14vw;
        border: 1px solid #c8417a;
    }
    .titulacion{
        position: relative;
        bottom: 40vw;
        z-index: 10;
    }
    .presentacion{
        position: relative;
        bottom: 40vw;
        z-index: 10;
        width: 40vw;
    }
    .rango{
        position: relative;
        bottom: 40vw;
        z-index: 10;
    }
    .texto h1{
        position: relative;
        top: -40vw;
    }
}

@media screen and (max-width: 375px) {
    .foto{
        position: relative;
        bottom: 29vw;
        left: 0vw;
        z-index: 10;
        height: 14vw;
        width: 14vw;
        border: 1px solid #c8417a;
    }
    .titulacion{
        position: relative;
        bottom: 29vw;
        z-index: 10;
    }
    .presentacion{
        position: relative;
        bottom: 32vw;
        z-index: 10;
        width: 40vw;
    }
    .rango{
        position: relative;
        bottom: 32vw;
        z-index: 10;
    }
    .texto h1{
        position: relative;
        top: -30vw;
    }
    .header{
        height: 100vw;
    }
}

@media screen and (max-width: 285px) {
    .foto{
        position: relative;
        bottom: 45vw;
        left: 0vw;
        z-index: 10;
        height: 14vw;
        width: 14vw;
        border: 1px solid #c8417a;
    }
    .titulacion{
        position: relative;
        bottom: 45vw;
        z-index: 10;
    }
    .presentacion{
        position: relative;
        bottom: 45vw;
        z-index: 10;
        width: 40vw;
    }
    .rango{
        position: relative;
        bottom: 45vw;
        z-index: 10;
    }
    .texto h1{
        position: relative;
        top: -43vw;
    }
}